
LAB_1/LAB_1.cache
LAB_1/LAB_1.sim


#ignore all cache and sim (waveform) files
**/*.cache/
**/*.sim/
**/*.runs/

#ignore all jou and log files
**/*.jou
**/*.log

# ignore all windows shortcuts
**/*.lnk

